extends layout.pug

block content
    #map
    #leg_title 
        span#leg_items Map Legend
    #leg
        each doc, i in jmap
            input(id=doc.id)(type='checkbox', checked)
            span#leg_items #{doc.id}
            br
    script(type='text/javascript').
        
        var map = L.map('map').setView([#{lat},#{lng}], 13);
        //'http://{s}.tile.osm.org/{z}/{x}/{y}.png'
        L.tileLayer('https://api.mapbox.com/styles/v1/ariako/cirthbuad000kgzm9iu08ekts/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYXJpYWtvIiwiYSI6ImNpcnFnOWtoMTAwYm1oam5odXU3d2VqeHkifQ.hNGsmieVRgUq0QFfwmIIEg', {
            attribution: '© <a href="https://www.mapbox.com/map-feedback/">Mapbox</a> © <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        
        $.getJSON('/maplayers',function(result){
            $.each(result, function(i, mlayer){
                $.getJSON('/mapjson/' + mlayer._id, function(data) { addLayer(data, mlayer._id) });
            });
        });
  
        function addLayer(layer, id) {
            var leaf_layer;
            if (layer.type == "Point") {
            //latlng is an object with properties lat and lng
                console.log(layer);
                leaf_layer = L.geoJson(layer, { pointToLayer: function (feature, latlng) {return L.circleMarker(latlng, layer.style); }})
                leaf_layer.bindPopup(layer.type);
            }
            leaf_layer.addTo(map);
            
            //toggle layer visibility when checking the checkbox
            $('#' + id).click(function(e) {
                
                if (map.hasLayer(leaf_layer)) {
                    map.removeLayer(leaf_layer);
                } else {
                    map.addLayer(leaf_layer);
                }
            });
        }