html, body {
  height: 100%;
  overflow: hidden;
}
#map {
  height: 100%;
  z-index:0;
}

#datepicker {
  position: absolute;
  top:0px;
  left:50px;*/
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
  background: white;
  background: rgba(255,255,255,0.5);
}

#datepicker h4, p {
  margin-top: 0px;
  margin-bottom: 7px;
}

#datepicker p input {
  width: 70px;
  margin-left: 5px;
}

#datepicker button {
 background-color: #FFF; /* Green */
 border: none;
 border: 1px solid #ccc;
 box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
 color: black;
 padding: 7px 10px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-weight: bold;
 margin: 4px;
}

#datepicker p button:hover {
cursor: pointer;
background-color: #EEE;
}

button:focus {
    outline: none;
}

body {
  margin:0;
  padding:0px;
  font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color:#00B7FF;
}
img, video {
  max-width: 400px;
  max-height: 400px;
  height: auto;
}
.legend {
    line-height: 1.2em;
    color: #555;
    font-size: 1em;
}
.legend i {
    width: 1.1em;
    height: 1.1em;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}
.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}